<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My tasks</title>
</head>
<body>
<h1>Task list</h1>
    <div th:each="task : ${taskList}">
        <hr>
        <a th:href="@{/tasks/{id}(id=${task.getId()})}">
            <h2 th:text="${task.getTitle()}">task title</h2>
        </a>
        <p th:text="'id: ' + ${task.getId()}">task id</p>
    </div>
    <hr>
    <a th:href="@{/tasks/new}">New task</a>
    <hr>
    <a th:href="@{/home}">Back to home</a>
</body>
</html>